<div id="execution-time" class="card">
  <div class="card-header">
    Execution Time
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Platform dependent execution time"></i>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="plot" id="exec-time-art-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-saw-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-mbf-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-mvp-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="plot" id="exec-time-mvn-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-map-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-man-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-kalman-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="plot" id="exec-time-fbr-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-total-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-check-box-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-kalman-box-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="plot" id="exec-time-total-box-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-ml-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-ml-box-plot"></div>
        </div>
        <div class="col-lg-3">
          <div class="plot" id="exec-time-placeholder-plot"></div>
        </div>
      </div>
    </div>

  </div>
</div>
 

