.card {
  width: 98%;
  margin-bottom: 10px; /* Added */
  margin-left: 1.5%;
  margin-right: 1.5%;
  float: none; /* Added */
}

.row {
  margin-bottom: 10px;
}

.plot {
  padding: 0px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

#checks-plot {
  height = 100vh;
  max-height: 200vh;
  overflow: auto;
}

.form-group {
  margin-right: 30px;
}
